@model IEnumerable<e_support10.Models.Product>

@{
    ViewData["Title"] = "ClientIndex";
}

<h1>Products</h1>
<!-- <div style="display:flex;flex-direction:row">-->
    <div class="card-deck">
        @foreach (var item in Model)
        {


            <div class="card">
                <img class="card-img-top card-image-c" src="~/img/product_uploads/@item.Photo" alt="Product Image" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                    <div>
                        <small class="text-muted">Price: @item.Price $ </small>
                        <form action="/Products/AddToCart" method="post">
                            <fieldset class="form-group">
                                <label class="control-label" for="Quantity">Quantity:</label>
                                <input name="Quantity" id="Quantity" required min="1" max="9999" type="number" value="1" />

                            </fieldset>
                            <button class="btn  btn-primary">Add to Cart</button> 
                            <input name="ProductId" id="ProductId" type="hidden" value="@item.Id" /> 
                        </form>
                    </div>

                </div>
            </div>


        <!--</div> -->

    }
    </div>